.table{

    width: 800px;
    margin: auto;
    margin-top: 50px;
}

button{
    margin: 10px;
}
a{
    text-decoration: none;
}
.sort{
    height: 50px;
    text-align: right;
}
.pag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
